In [7]:
import requests
import pandas as pd

In [8]:
owner_id = -41653980
offset = 0
all_posts=[]
while True:
    r = requests.get('https://api.vk.com/method/wall.get', params = {'owner_id': owner_id,
                                                                 'access_token': '',
                                                                 'v': 5.52,
                                                                 'count':1000,
                                                                 'offset': offset})
    post = r.json()#['response']
    all_posts.append(post)
    offset += 100
    if offset == 1000:
        break

    
    #r.json()

In [9]:
r = requests.get('https://api.vk.com/method/wall.get', params = {'owner_id': owner_id,
                                                                 'access_token': 'e8cef877ebaf27a51aebbb9006b940f43f6c6f164699d15427631096f612cd276b04e1cc467d090ea37b4',
                                                                 'v': 5.52,
                                                                 'count':1000,
                                                                 'offset': offset})

In [10]:
len(all_posts)

10

In [11]:
df1 = pd.io.json.json_normalize(all_posts)
df1

   response.count                                     response.items
0           48942  [{'id': 83840, 'from_id': -41653980, 'owner_id...
1           48942  [{'id': 83711, 'from_id': -41653980, 'owner_id...
2           48942  [{'id': 83582, 'from_id': -41653980, 'owner_id...
3           48942  [{'id': 83444, 'from_id': -41653980, 'owner_id...
4           48942  [{'id': 83298, 'from_id': -41653980, 'owner_id...
5           48942  [{'id': 83156, 'from_id': -41653980, 'owner_id...
6           48942  [{'id': 83007, 'from_id': -41653980, 'owner_id...
7           48942  [{'id': 82873, 'from_id': -41653980, 'owner_id...
8           48942  [{'id': 82748, 'from_id': -41653980, 'owner_id...
9           48942  [{'id': 82614, 'from_id': -41653980, 'owner_id...

In [12]:
#df1 = pd.io.json.json_normalize(r.json())
cz = df1['response.items']
cz

0    [{'id': 83840, 'from_id': -41653980, 'owner_id...
1    [{'id': 83711, 'from_id': -41653980, 'owner_id...
2    [{'id': 83582, 'from_id': -41653980, 'owner_id...
3    [{'id': 83444, 'from_id': -41653980, 'owner_id...
4    [{'id': 83298, 'from_id': -41653980, 'owner_id...
5    [{'id': 83156, 'from_id': -41653980, 'owner_id...
6    [{'id': 83007, 'from_id': -41653980, 'owner_id...
7    [{'id': 82873, 'from_id': -41653980, 'owner_id...
8    [{'id': 82748, 'from_id': -41653980, 'owner_id...
9    [{'id': 82614, 'from_id': -41653980, 'owner_id...
Name: response.items, dtype: object

In [13]:
data = pd.DataFrame()

In [14]:
for index in range(0,len(cz)):
    a = cz[index]
    l = len(a) # всегда 100
    dates = []
    
    for i in range(0,l):
        b = a[i]
        dates.append(b['date']) #вытаскиваем даты постов
    #
    likes = []
    for i in range(0,l):
        b = a[i]
        likes.append(b['likes'])
    likes_count = []  
    for i in range(0,l):
        c = likes[i]
        likes_count.append(c['count']) #Вытаскиваем лайки
    #
    com = []
    for i in range(0,l):
        b = a[i]
        com.append(b['comments'])
    com_count = []  
    for i in range(0,l):
        c = com[i]
        com_count.append(c['count'])#вытаскиваем комментарии
    #
    rep = []
    for i in range(0,l):
        b = a[i]
        rep.append(b['reposts'])
    rep_count = []  
    for i in range(0,l):
        c = rep[i]
        rep_count.append(c['count'])#вытаскиваем репосты
            #вытаскиваем 'marked_as_ads'
    ad = []
    for i in range(0,l):
        b = a[i]
        ad.append(b['marked_as_ads'])
    df = pd.DataFrame([dates,likes_count,com_count,rep_count,ad])
    df = df.transpose()
    data = pd.concat([data, df])
    
data

             0   1  2   3  4
0   1547402345   5  0   0  0
1   1547400833   0  0   0  0
2   1547398746  22  0  10  0
3   1547395149  10  0   5  0
4   1547391545   1  0   0  0
5   1547387943  17  0   3  0
6   1547384350  30  0  11  0
7   1547377151   6  0   0  0
8   1547373543   7  0   2  0
9   1547369946   4  0   2  0
10  1547366346  27  0   4  0
11  1547362742  12  0   5  0
12  1547359148  48  0  22  0
13  1547355545  10  0   2  0
14  1547326748  48  0  21  0
15  1547323147  24  0   8  0
16  1547319550  19  0   8  0
17  1547315952  43  0  20  0
18  1547312344  14  0   5  0
19  1547308750  12  0   4  0
20  1547305145  15  0   4  0
21  1547301558  14  0   4  0
22  1547297953  25  0   9  0
23  1547290751  29  0   6  0
24  1547287147  14  0   0  0
25  1547283545  20  0   5  0
26  1547279946  35  0  11  0
27  1547276347   6  0   0  0
28  1547272750   8  0   0  0
29  1547269142   2  0   1  0
..         ...  .. ..  .. ..
70  1542013148   9  0   2  0
71  1542009551  25  0   4  0
72  1542005943  14  0   3  0
73  1542002342  19  0   7  0
74  1541998747  14  0   2  0
75  1541969942  15  0   7  0
76  1541966357  14  0   4  0
77  1541962742   9  0   2  0
78  1541959145  16  0   4  0
79  1541955542   8  0   2  0
80  1541951951  13  0   6  0
81  1541948350  12  0   1  0
82  1541944742  10  0   1  0
83  1541941143   5  0   1  0
84  1541933958  15  0   9  0
85  1541930351   7  0   2  0
86  1541926751   9  0   2  0
87  1541923149  22  0   2  0
88  1541919549   8  0   4  0
89  1541915949   7  0   3  0
90  1541912348   3  0   0  0
91  1541883549   9  0   4  0
92  1541879942   9  0   1  0
93  1541876355  10  0   3  0
94  1541872753  23  0  11  0
95  1541869145  14  0   5  0
96  1541865548  10  0   4  0
97  1541861949   8  0   4  0
98  1541858346   8  0   2  0
99  1541854747  12  0   4  0

[1000 rows x 5 columns]

In [15]:
data.rename(columns={0: 'Date', 1: 'Likes', 2: 'Comments', 3: 'Reposts', 4: 'Ad'}, inplace=True)
data

          Date  Likes  Comments  Reposts  Ad
0   1547402345      5         0        0   0
1   1547400833      0         0        0   0
2   1547398746     22         0       10   0
3   1547395149     10         0        5   0
4   1547391545      1         0        0   0
5   1547387943     17         0        3   0
6   1547384350     30         0       11   0
7   1547377151      6         0        0   0
8   1547373543      7         0        2   0
9   1547369946      4         0        2   0
10  1547366346     27         0        4   0
11  1547362742     12         0        5   0
12  1547359148     48         0       22   0
13  1547355545     10         0        2   0
14  1547326748     48         0       21   0
15  1547323147     24         0        8   0
16  1547319550     19         0        8   0
17  1547315952     43         0       20   0
18  1547312344     14         0        5   0
19  1547308750     12         0        4   0
20  1547305145     15         0        4   0
21  1547301558     14         0        4   0
22  1547297953     25         0        9   0
23  1547290751     29         0        6   0
24  1547287147     14         0        0   0
25  1547283545     20         0        5   0
26  1547279946     35         0       11   0
27  1547276347      6         0        0   0
28  1547272750      8         0        0   0
29  1547269142      2         0        1   0
..         ...    ...       ...      ...  ..
70  1542013148      9         0        2   0
71  1542009551     25         0        4   0
72  1542005943     14         0        3   0
73  1542002342     19         0        7   0
74  1541998747     14         0        2   0
75  1541969942     15         0        7   0
76  1541966357     14         0        4   0
77  1541962742      9         0        2   0
78  1541959145     16         0        4   0
79  1541955542      8         0        2   0
80  1541951951     13         0        6   0
81  1541948350     12         0        1   0
82  1541944742     10         0        1   0
83  1541941143      5         0        1   0
84  1541933958     15         0        9   0
85  1541930351      7         0        2   0
86  1541926751      9         0        2   0
87  1541923149     22         0        2   0
88  1541919549      8         0        4   0
89  1541915949      7         0        3   0
90  1541912348      3         0        0   0
91  1541883549      9         0        4   0
92  1541879942      9         0        1   0
93  1541876355     10         0        3   0
94  1541872753     23         0       11   0
95  1541869145     14         0        5   0
96  1541865548     10         0        4   0
97  1541861949      8         0        4   0
98  1541858346      8         0        2   0
99  1541854747     12         0        4   0

[1000 rows x 5 columns]

In [16]:
data['Date'] = pd.to_datetime(data['Date'],unit='s')
data.describe()

            Likes  Comments      Reposts      Ad
count  1000.00000    1000.0  1000.000000  1000.0
mean     14.12800       0.0     4.215000     0.0
std       9.72966       0.0     4.018074     0.0
min       0.00000       0.0     0.000000     0.0
25%       8.00000       0.0     1.000000     0.0
50%      12.00000       0.0     3.000000     0.0
75%      18.00000       0.0     6.000000     0.0
max      89.00000       0.0    34.000000     0.0

In [17]:
data['Likes'].max()

89

In [18]:
data.to_csv('vk_sep', sep = '\t')